@tailwind base;
@tailwind components;
@tailwind utilities;

.animated-btn:hover {
  transform: scale(1.04);
  transition: transform 0.3s ease;
  transition-delay: 20ms;
  will-change: transform;
}
.animated-post:hover {
  transform: scale(1.02);
  transition: transform 0.4s ease;
  transition-delay: 20ms;
  will-change: transform;
}
